.modal-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}
.dialog-popup {
    max-width: 464px;
    min-width: 335px;
    margin: 0 auto;
    position: absolute;
    background: #36414D;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.75));
    &.popup-open {
        animation: openPopup .5s ease forwards;
    }
    &.popup-close {
        // animation: openPopup .5s ease forwards;
        animation: closePopup .5s ease forwards;
            
    }
    .message-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #36414D;
        gap: 30px;
        box-sizing: content-box;
        .image-popup {
            padding-top: 30px;
        }
        .message-popup {
            font-family: 'Noto Sans CJK JP';
            font-style: normal;
            word-break: break-all;
            white-space: pre-wrap;
            font-weight: 400;
            font-size: 14px;
            padding: 0 24px 20px;
            text-align: center;
            letter-spacing: 0.7px;
            color: #FFFFFF;
        }
    }
    .button-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0  auto;
        padding:10px;
        gap: 10px;
        background: #0D141A;
        .common-button {
            width: 152.5px;
            height: 40px;
            border-radius: 2px;
            font-family: 'Noto Sans CJK JP';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            border: none;
        }
        .button-elic {
            background: linear-gradient(270deg, #36DEE5 0%, #B647CC 100%);
            color: #000000;
        }
        .button-cancel {
            background: #1F2E3D;
            color: #22C5E6;
        }
    }
}

/* Add Animation */
@keyframes openPopup {
    from { top: 0; opacity: 0;}
    to { top: 50%; opacity: 1;}
}
@keyframes closePopup {
    from { top: 50%; opacity: 1;}
    to { top: 0; opacity: 0;}
}